DB_PORT=5432
DB_HOST=localhost
DB_USER=oneflow
DB_NAME=storage
DB_PASSWORD=secret
JWT_SECRET=TEWGBvcYcrC7L2Y38FdugUgMyaAgVQ9b
STORAGE_HOST=http://localhost:9000
STORAGE_ACCESS_KEY=minio_access_key
STORAGE_SECRET_KEY=minio_secret_key
STORAGE_BUCKET=oneflow